
/* General player styles */
.spotify-player-spotify-card {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  background-color: var(--darker);
  transition: all 0.3s ease;
  margin: 0 auto;
  border: 1px solid var(--dark);
  border-radius: 0.3em;
  position: relative;
  padding: 1.2em;
  z-index: 1;
  overflow: visible;
  box-shadow: rgba(40, 44, 52, 0.5) 2px 4px 6px 2px;
}

.spotify-player-spotify-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: relative;
}

.spotify-player-info-container {
  display: flex;
  gap: 1.2em;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease, z-index 0s;
  width: 100%;
}

.spotify-player-spotify-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease, z-index 0s;
  white-space: nowrap;
}

.spotify-player-spotify-details:hover {
  white-space: unset;
}

.spotify-player-device-title {
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-align: center;
  background-color: var(--dark);
  width: 100%;
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease, z-index 0s;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 0.5em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.2em;
  margin: 0;
  margin-bottom: 0.5em;
}

.spotify-player-device-title h4 {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: var(--weird);
  text-align: center;
  margin: 20px 0;
  transition: transform 0.2s, color 0.3s ease;
}

.spotify-player-device-title:hover h4 {
  transform: scale(1.1);
  color: var(--yellow);
}

.spotify-player-controls-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease, z-index 0s;
  justify-content: center;
  align-items: center;
}

.spotify-player-track-details {
  flex: 1;
  margin-top: 0.5em;
  background-color: var(--darkest);
  padding: 0.3em;
  border-radius: 0.5em;
  border: 1px solid var(--grey);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.spotify-player-track-details-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.spotify-player-track-details-row {
  display: flex;
  justify-content: space-between;
  padding: 0.1em 0;
}

.spotify-player-track-details-cell {
  padding: 0.1em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}

.spotify-player-key-cell {
  font-weight: bold;
  color: var(--lightest);
  flex-basis: 30%;
}

.spotify-player-value-cell {
  flex-basis: 70%;
  color: var(--lightest);
  user-select: text;
}

/* Portrait layout */
@media (max-width: 500px){
  .spotify-player-info-container {
    flex-direction: column-reverse;
  }
  .spotify-player-track-info {
    flex-direction: column;
  }

  .spotify-player-album-cover {
    max-width: 100%;
  }

  .spotify-player-seek-container {
    width: 100%;
    padding: 0 1rem;
  }

  .spotify-player-volume-control {
    width: 100%;
    padding: 0 1rem;
  }
}

.spotify-player-track-info {
  display: flex;
  align-items: center;
  margin: 0.4em;
  gap: 1.5rem;
}

.spotify-player-album-cover {
  width: 120px;
  height: 120px;
  border-radius: 0.4em;
}

.spotify-player-seek-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0.4em;
  max-width: 500px;
}

.spotify-player-seek-container span {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.spotify-player-seek-bar {
  -webkit-appearance: none;
  flex: 4;
  height: 8px;
  border-radius: 0.4em;
  transition: background 0.3s ease;
}

.spotify-player-seek-bar::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.4em;
  background: var(--lighter);
  height: 18px;
}

.spotify-player-seek-bar::-webkit-slider-runnable-track:hover {
  background: var(--lightest);
  cursor: pointer;
}

.spotify-player-seek-bar:disabled::-webkit-slider-runnable-track:hover {
  transform: none;
  cursor: not-allowed;
  background: var(--lighter);
}

.spotify-player-seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 24px;
  border-radius: 0.4em;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  top: -3px;
  transition: all 0.2s ease;
}

.spotify-player-seek-bar:disabled::-webkit-slider-thumb {
  background: var(--dark);
}

.spotify-player-seek-bar::-webkit-slider-thumb:hover {
  background: var(--blue);
  transform: scale(1.2);
}

.spotify-player-seek-bar:disabled::-webkit-slider-thumb:hover {
  transform: none;
  cursor: not-allowed;
  background: var(--dark);
}

.spotify-player-playback-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--button-background);
  border-radius: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  max-width: 500px;
}

.spotify-player-control-button {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  font-size: 1.5rem;
  background: var(--button-background);
  border-radius: 0.4em;
  cursor: pointer;
}

.spotify-player-control-button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: var(--button-hover-background);
}

.spotify-player-control-button:disabled {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: var(--dark);
}

.spotify-player-control-button:disabled:hover {
  transform: none;
  cursor: not-allowed;
}

.spotify-player-volume-control {
  display: flex;
  flex: 3;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0.4em;
  max-width: 500px;
}

.spotify-player-volume-control span{
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.spotify-player-volume-slider {
  -webkit-appearance: none;
  flex: 4;
  height: 8px;
  border-radius: 0.4em;
  transition: background 0.3s ease;
}

.spotify-player-volume-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.4em;
  background: var(--lighter);
  height: 18px;
}

.spotify-player-volume-slider::-webkit-slider-runnable-track:hover {
  background: var(--lightest);
  cursor: pointer;
}

.spotify-player-volume-slider::-webkit-slider-runnable-track:hover {
  background: var(--lightest);
  cursor: pointer;
}

.spotify-player-volume-slider:disabled::-webkit-slider-runnable-track:hover {
  transform: none;
  cursor: not-allowed;
  background: var(--lighter);
}

.spotify-player-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 24px;
  border-radius: 0.4em;
  background: var(--grey);
  position: relative;
  top: -3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.spotify-player-volume-slider:disabled::-webkit-slider-thumb {
  background: var(--dark);
}

.spotify-player-volume-slider::-webkit-slider-thumb:hover {
  background: var(--green);
  transform: scale(1.2);
}

.spotify-player-volume-slider:disabled::-webkit-slider-thumb:hover {
  transform: none;
  cursor: not-allowed;
  background: var(--dark);
}

/* Toggle Button Container */
.spotify-player-toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 90px;
  height: 36px;
  border-radius: 0.4em;
  background: var(--darker); /* Default background for OFF state */
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.4em;
}

.spotify-player-toggle-container:hover {
  transform: scale(1.1);
}

.spotify-player-toggle-container.on {
  background: var(--blue);
}

.spotify-player-toggle-container.off {
  background: var(--darkest);
}

.spotify-player-toggle-container.disabled {
  background: var(--dark);
}

.spotify-player-toggle-container.disabled:hover {
  transform: none;
  cursor: not-allowed;
}

/* Text Inside Toggle Track */
.spotify-player-toggle-track-text {
  flex: 1;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--text-color);
  padding: 0 8px;
  text-align: center;
  user-select: none;
}

/* Toggle Thumb */
.spotify-player-toggle-thumb {
  top: 4px;
  width: 28px;
  height: 28px;
  border-radius: 0.4em;
  background: var(--light); /* Light color for thumb */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  flex: 1;
}

/* Toggle Thumb */
.spotify-player-toggle-thumb.disabled {
  background: var(--grey);
}

/* Icon Inside Thumb */
.spotify-player-toggle-thumb-icon {
  font-size: 1rem;
  color: var(--darker);
}

.spotify-player-connected-icon {
  font-size: 2rem;
  color: var(--blue);
}

.spotify-player-connected-icon.disconnected {
  color: var(--red);
}

.spotify-player-connected-icon.rotating {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Wide Screens Layout (side-by-side for >900px) */
@media (min-width: 900px) {
  .spotify-player-spotify-details {
    display: flex;
    flex-direction: row; /* Arrange components in a row */
    align-items: flex-start; /* Align to the top */
    justify-content: space-between; /* Space between left and right */
    gap: 1em;
  }

  .spotify-player-details-container {
    flex: 2; /* Take more space for DeviceTitle and TrackDetails */
    display: flex;
    flex-direction: column; /* Keep DeviceTitle and TrackDetails stacked */
    gap: 0.5em;
  }

  .spotify-player-controls-container {
    flex: 1; /* Take less space for controls */
    max-width: 300px; /* Optional: Limit width for the controls */
    margin-top: 0;
  }
}
