
/* General player styles */
.spotify-player-spotify-card {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  background-color: var(--darker);
  transition: all 0.3s ease;
  margin: 0 auto;
  border: 1px solid var(--dark);
  border-radius: 0.3em;
  position: relative;
  padding: 1.2em;
  z-index: 1;
  overflow: visible;
  box-shadow: rgba(40, 44, 52, 0.5) 2px 4px 6px 2px;
}

.spotify-player-spotify-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: relative;
}

.spotify-player-info-container {
  display: flex;
  gap: 1.2em;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease, z-index 0s;
  width: 100%;
}

.spotify-player-spotify-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease, z-index 0s;
  white-space: nowrap;
}

.spotify-player-spotify-details:hover {
  white-space: unset;
}

/* Portrait layout */
@media (max-width: 500px){
  .spotify-player-info-container {
    flex-direction: column-reverse;
  }
}

/* Wide Screens Layout (side-by-side for >900px) */
@media (min-width: 900px) {
  .spotify-player-spotify-details {
    display: flex;
    flex-direction: row; /* Arrange components in a row */
    align-items: flex-start; /* Align to the top */
    justify-content: space-between; /* Space between left and right */
    gap: 1em;
  }

  .spotify-player-details-container {
    flex: 2; /* Take more space for DeviceTitle and TrackDetails */
    display: flex;
    flex-direction: column; /* Keep DeviceTitle and TrackDetails stacked */
    gap: 0.5em;
  }
}

/* Main controls wrapper */

.spotify-player-controls-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  transition: width 0.3s ease, height 0.3s ease, filter 0.3s ease, z-index 0s;
  justify-content: center;
  align-items: center;
}

/* Widescreen wrapper layout */
@media (min-width: 900px) {
  .spotify-player-controls-container {
    flex: 1;
    max-width: 300px;
    margin-top: 0;
  }
}